# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Jekyll
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

_site/assets/disciplinas/tc/20261/slides11.pdf
assets/disciplinas/tc/20261/slides11.pdf
