##
## Configurações globais do site:
## 

# Título do site:
title: Disciplinas UVV

# E-mail do responsável:
email: abrantesasf@uvv.br

# Descrição (">-" ignora os newlines):
description: >-
  Informações sobre as disciplinas e recursos para alunos e professores
  da Universidade Vila Velha (UVV).

# URL padrão do site
url: "https://disciplinas.uvv.br" # URL padrão do site

# O site começa em um subpath da URL, por exemplo, /blog?
baseurl: ""

# Linguagem padrão para o conteúdo do site:
lang: "pt-br"

# Google Analytics
ga_tracking: "G-TTQEXCQ9S6"

# Redes sociais:
twitter_username: "uvv-computacao"
github_username: "uvv-computacao"


##
## Configurações para o tema:
##

# Tema padrão:
theme: just-the-docs
color_scheme: light

# Configurações de busca:
search_enabled: true
search.heading_level: 3

# Links permanentes:
permalink: pretty

# Links na barra superior direita:
heading_anchors: true
aux_links:
  UVV:
    - 'https://uvv.br'
  Aluno:
    - 'https://aluno.uvv.br'
  Professor:
    - 'https://professor.uvv.br'
  Pesquisas:
    - 'https://disciplinas.uvv.br/pesquisas'

# Títulos e cores dos callouts:
callouts:
  note:
    title: Nota
    color: grey-lt
    opacity: 0.4
  admonition:
    title: Aviso
    color: grey-lt
    opacity: 0.9
  hint:
    title: Sugestão
    color: grey-dk
  tip:
    title: Dica
    color: grey-dk
  important:
    title: Importante
    color: green
  attention:
    title: Atenção
    color: green
  warning:
    title: Advertência
    color: blue
  caution:
    title: Cuidado
    color: yellow
  danger:
    title: Perigo
    color: red
  error:
    title: Erro
    color: purple


##
## Coleções para os dados do site
##

# Coleções disponíveis:
collections:
  pessoal:
  modulos:
  horarios:
  avisos:
    output: true
  posts:
    search_exclude: false

# Layout padrão para cada coleção:
defaults:
  - scope:
      path: ''
      type: pessoal
    values:
      layout: staffer
      height: 300
      subpath: '/assets/images/pessoal/'
      width: 300
  - scope:
      path: ''
      type: modulos
    values:
      layout: module
  - scope:
      path: ''
      type: horarios
    values:
      layout: schedule
  - scope:
      #path: ''
      type: avisos
    values:
      layout: announcement


##
## Configurações para o build:
##

# Compressão de HTML:
compress_html:
  clippings: all
  comments: all
  endings: all
  startings: []
  blanklines: false
  profile: false

# Plugins a serem utilizados:
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag

# Engine de processamento:
kramdown:
  input: Kramdown
  syntax_highlighter: coderay

# O que excluir do build (se diretório, usar a / final):
exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - _config.yml
  - README.md
  - INSTRUCOES
  - modelos
